    <div class="col-md-2 col-sm-3 col-xs-3">
        <!-- <div ng-class="lift.acronym">&nbsp;</div> -->
        <img class="icon" ng-src="/assets/img/icons/lift/RC_{{lift.acronym}}.svg">
    </div>
    <div class="col-md-10 col-sm-9 col-xs-9">
        <i class="fa fa-area-chart fa-lg"></i><span class="stats"> {{ lift.elevationGain }} ft elevation&nbsp;&nbsp;&nbsp;</span>
        <span class="hidden-sm hidden-md hidden-lg"><br></span>
        <i class="fa fa-refresh fa-lg"></i><span class="stats"> {{ lift.laps }} laps</span>
    </div>
