

<div class="row" ng-repeat="lift in reportcard.lifts">
    <div ng-include="'/partials/participant/_lift.html'"></div>
</div>

<div class="row" ng-repeat="terrain in reportcard.terrains">
    <div ng-include="'/partials/participant/_terrain.html'"></div>
</div>

<div ng-include="'/partials/participant/_conditions.html'"></div>

<div class="row" ng-repeat="skill in reportcard.skills">
    <div ng-include="'/partials/participant/_skill.html'"></div>
</div>

<div ng-include="'/partials/layout/_sociallinks.html'"></div>
