<!DOCTYPE html>
<html lang="en">
<head data-endpoint="<%= apiEndpoint %>">
<meta charset="utf-8" />
<title>JHMR::Connect</title>
<base href="/" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="stylesheet" type="text/css" href="<%= assetPath('css/application.css') %>" />
</head>

<body ng-app="jhmrc"><!--__NG_TEMPLATES__-->

    <header></header>
    <nav></nav>
    <div> <!--  class="{{pageName | dasherize}}" -->
        <ng-view></ng-view>
    </div>

<script type="text/javascript" src="<%= assetPath('js/core.js') %>"></script>
<script type="text/javascript" src="<%= assetPath('js/application.js') %>"></script>
</body>
</html>
