<!DOCTYPE html>
<html lang="en">
<head data-endpoint="<%= apiEndpoint %>">
<meta charset="utf-8" />
<title>JHMR::Connect</title>
<base href="/" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="stylesheet" type="text/css" href="<%= assetPath('css/application.css') %>" />
</head>

<body ng-app="jhmrc"><!--__NG_TEMPLATES__-->

    <header>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"><img class="img-responsive" src="/assets/img/logo-jhmr.png"></div>
            <div class="col-md-8 col-sm-8 col-xs-8"><h1>Guest Connect</h1></div>
        </div>
    </header>
    <div class="page-content"> <!--  class="{{pageName | dasherize}}" -->
        <ng-view></ng-view>
    </div>


    <div loading id="wait-for-it" class="center-block hidden"><i class="fa fa-circle-o-notch fa-4x fa-spinner"></i></div>

    <nav class="main" toggle-nav>
        <ul>
            <li><i class="fa fa-list"></i> <span>Score Card</span></li>
            <li><i class="fa fa-area-chart"></i> <span>Snow Stats</span></li>
            <li><i class="fa fa-user"></i> <span>Profile</span></li>
        </ul>
    </nav>

<script type="text/javascript" src="<%= assetPath('js/core.js') %>"></script>
<script type="text/javascript" src="<%= assetPath('js/application.js') %>"></script>
</body>
</html>
