

<form name="loginForm" novalidate ng-submit="submit(loginForm.$valid)" ng-class="{ loading:form.submitting }">

    <header><h3 class="heading">Log In</h4></header>

    <div class="fields">
        <div class="field username-field">
            <input class="input" type="email" name="username" placeholder="Username"
                ng-model="form.data.username" required />
            <div ng-if="loginForm.$submitted" ng-messages="loginForm.username.$error" class="errors">
                <div ng-message="required">Please, enter valid username.</div>
            </div>
        </div>

        <div class="field password-field">
            <input class="input" type="text" name="password" placeholder="Password"
                 ng-model="form.data.password" required />
            <div ng-if="loginForm.$submitted" ng-messages="loginForm.password.$error" class="errors">
                <div ng-message="required">Please, enter valid password.</div>
            </div>
        </div>
    </div>

    <nav class="form-actions">
        <input type="submit" value="Enter" class="button primary" />
    </nav>

</form>
