<div class="container-fluid report-card">

    <div class="row">
        <div class="panel-group">

            <div class="col-md-6 col-sm-12">
                <!-- <div class="panel-group"> -->
                  <div class="panel panel-default" bs-collapse>
                    <div class="panel-heading clearfix">
                      <h4 class="panel-title">
                          <h4 class="panel-title"><span class="hidden-xs">{{ reportcard.activity }}, </span>{{ reportcard.activityStartDate | date : 'shortDate' }} - {{ reportcard.discipline }}</h4>
                          <a bs-collapse-toggle toggle-open-closed><i class="fa fa-toggle-up fa-lg"></i></a>
                      </h4>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                      <div class="panel-body">
                          <b>{{ reportcard.firstName }} {{ reportcard.lastName }}</b><br>
                          <i>Class Discipline</i>: {{ reportcard.discipline }}<br>
                          <i>Level</i>: {{ reportcard.levelShortName }} - {{ reportcard.level }}<br>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default" bs-collapse>
                    <div class="panel-heading clearfix">
                      <h4 class="panel-title">Today's Lifts</h4>
                      <a bs-collapse-toggle toggle-open-closed><i class="fa fa-toggle-up fa-lg"></i></a>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                      <div class="panel-body lifts">
                        <div class="row lift" ng-repeat="lift in lifts">
                            <div ng-include="'/partials/reportcard/lift.tpl.html'"></div>
                        </div>
                        <div class="row totals">
                            <div class="col-md-2 col-sm-4 col-xs-3"></div>
                            <div class="col-md-5 col-sm-4 col-xs-9">
                                <span>Total vert: {{ totalVert }} ft</span>
                            </div>
                            <div class="col-xs-3 visible-xs"></div>
                            <div class="col-md-5 col-sm-4 col-xs-9">
                                <span>Total runs: {{ reportcard.lifts.length }}</span>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default" bs-collapse>
                    <div class="panel-heading clearfix">
                      <h4 class="panel-title">Terrain Encountered</h4>
                      <a bs-collapse-toggle toggle-open-closed><i class="fa fa-toggle-up fa-lg"></i></a>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                      <div class="panel-body">
                        <ul class="terrain">
                            <li ng-repeat="t in reportcard.terrains" ng-style="{'width': 100/reportcard.terrains.length+'%'}" ng-include="'/partials/reportcard/terrain.tpl.html'"></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default" bs-collapse>
                    <div class="panel-heading clearfix">
                      <h4 class="panel-title">Conditions</h4>
                      <a bs-collapse-toggle toggle-open-closed><i class="fa fa-toggle-up fa-lg"></i></a>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                      <div class="panel-body">
                        <div ng-include="'/partials/reportcard/conditions.tpl.html'"></div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
            </div>

            <div class="col-md-6 col-sm-12" style="margin-top: 5px;">
                <div class="panel panel-default" bs-collapse>
                  <div class="panel-heading clearfix">
                    <h4 class="panel-title">{{ reportcard.discipline }} - {{ reportcard.level.shortName }} Skills Progression</h4>
                    <a bs-collapse-toggle toggle-open-closed><i class="fa fa-toggle-up fa-lg"></i></a>
                  </div>
                  <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">
                      <div class="skill row level-{{skill.levelRank}}" ng-repeat="skill in reportcard.milestones">
                          <div ng-include="'/partials/reportcard/skill.tpl.html'"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default" bs-collapse>
                  <div class="panel-heading clearfix">
                    <h4 class="panel-title">Instructor Feedback</h4>
                    <a bs-collapse-toggle toggle-open-closed><i class="fa fa-toggle-up fa-lg"></i></a>
                  </div>
                  <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">
                        <ul class="feedback">
                            <li ng-repeat="f in reportcard.feedback">
                                <div class="quote"><i class="fa fa-quote-right fa-3x"></i> {{ f.comment }}</div>
                                <div class="signature">- {{ f.commenterFirstName }} {{ f.commenterLastName }}</div>
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default" bs-collapse>
                  <div class="panel-heading clearfix">
                    <h4 class="panel-title"><a href="http://www.jacksonhole.com">www.jacksonhole.com</a></h4>
                    <a bs-collapse-toggle toggle-open-closed><i class="fa fa-toggle-up fa-lg"></i></a>
                  </div>
                  <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">
                      <div ng-include="'/partials/layout/sociallinks.tpl.html'"></div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
